<h1>Add a new collector</h1>
<form action="/collectors/new" method="post">
  <label for="collector-description">Collector description:</label>
  <input id="collector-description" name="collector-description" type="text">
  <label for="new-year">Enter year:</label>
  <input id="new-year" name="new-year" type="text">
  <label for="new-month">Enter month:</label>
  <input id="new-month" name="new-month" type="text">
  <label for="new-day">Enter day:</label>
  <input id="new-day" name="new-day" type="text">
  <select name="category-id">
    @foreach (var category in Model)
    {
      <option value="@category.GetId()">@category.GetName()</option>
    }
  </select>
  <button type="submit">Add new collector</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/collectors">View all collectors</a></p>
